.standard-btn {
	border: 1px solid transparent;
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: 400;
	height: 32px;
	padding: 0 19px;
	position: relative;
	text-align: center;
	touch-action: manipulation;
	transition: all .3s cubic-bezier(.645, .045, .355, 1);
	user-select: none;
	white-space: nowrap;

	&.primary {
		background-color: var(--color-primary);
		color: var(--color-white);
	}
}
