@use '@/styles/base'as *;


.top-game-card {

	h3 {
		font-size: 16px;
	}

	.live-count {
		font-size: 12px;
		color: #5a5a5a;
	}

	.game-tags {
		a {
			margin-top: 5px;

			&:first-child {
				margin-left: 0;
			}
		}
	}
}

.top-game-link {
	display: inline-block;
	text-decoration: none;
	will-change: transform, opacity;

	@media (min-width: 1400px) {
		transform: skew(-8.745deg) translateX(22px);
	}
}

.top-game-content {
	background-color: rgba(98, 45, 247, 0);
	transition: background-color .3s ease-in-out;
	border-radius: 6px;

	img {
		border-radius: 6px;
	}

	@include breakpoint(lg) {
		&:hover {
			background-color: var(--color-primary);
	
			.top-game-front {
				transform: translateY(-15px) translateX(15px);
			}
	
			.top-game-desc {
				opacity: 1;
			}
		}
	}
}

.top-game-front {
	position: relative;
	border-radius: 6px;
	overflow: hidden;
	transition: all .3s;

	h5 {
		font-size: 20px;
		font-weight: 700;
		font-style: italic;
		margin-bottom: 8px;
		color: var(--color-white);
	}

	.top-game-desc {
		opacity: 0;
		padding: 10px;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: rgba(0, 0, 0, .8);
		border: 2px solid var(--color-primary);
		transition: all .3s;
	}

	.short-bar {
		height: 8px;
		width: 40px;
		background-color: var(--color-primary);
		border-radius: 4px;
	}

	.top-game-icon {
		bottom: 10px;
		height: 50px;
		right: 10px;
		position: absolute;
		transform: skew(8.745deg);
		width: 50px;
		border-radius: 50%;
		background-color: var(--color-primary);
		display: flex;
		align-items: center;
		justify-content: center;
		color: var(--color-white);

		.icon {
			--size: 20px;
		}
	}
}
