@use "@/styles/styles";

@use '@/components/header/header';
@use '@/components/streaming-banner/streaming-banner';
@use '@/components/game-heading/game-heading';
@use '@/components/top-game/top-game';
@use '@/components/top-gane-card/top-gane-card';
@use '@/components/sport-events/sport-events';
@use '@/components/streamer-group/streamer-group';
@use '@/components/streamer-card/streamer-card';
@use '@/components/pro-team/pro-team';
@use '@/components/footer/footer';
@use '@/components/streamer-intro/streamer-intro';

body {
	background-color: #f8f8f8;
}

.index-section {
	margin-bottom: 40px;
}

.slide-controls {
	display: flex;
	align-items: center;
	button {
		border: 1px solid #dcdcdc;
		border-radius: 4px;
		height: 34px;
		background-color: #fff;
		box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
		color: #5a5a5a;

		&:first-child {
			margin-right: 8px;
		}

		&.swiper-button-disabled {
			cursor: not-allowed;
		}
	}
}
