extends ../../_layouts/_layout

block var
	- title = 'Home'
	- bodyClass = 'home'


block main
	include @/components/streaming-banner/streaming-banner.pug
	include @/components/top-game/top-game.pug
	include @/components/sport-events/sport-events.pug
	
