section.top-game
	.container
		include @/components/game-heading/game-heading
		.swiper
			.top-game-list.swiper-wrapper
				- for (var i=0; i<9; i++)
					.top-game-item.swiper-slide
						.top-game-card
							a.top-game-link(href="#", title="title")
								.top-game-content
									.top-game-front
										.top-game-image
											img(src="./images/top_card.jpeg", alt="")
										.top-game-desc
											h5.text-truncate Liveshow
											.short-bar
											.top-game-icon
												svg.icon.icon-chevron-right(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16')
													path(fill-rule='evenodd' d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z')
							h3 Liveshow
							span.live-count 50 lives
							.game-tags
								a(href="#", title="title") All 
	