section.streaming-banner
	a.streaming-banner-link(href="#", title="title" style="background-image: url('https://img.nimo.tv/o/banner/1196F8F5AD3BD60E6514A1312319C6AC_02bda3e9072c74f32c77a53f26ec2f7f.jpg/l0/img.webp')")
	.streaming-content.flex
		.streaming-video
		ul.streaming-list
			li.nav-item
				.item-content
					img(src="./images/streamer.webp", alt="")
					.item-desc
						p NT City GTA a Tôn Monki ...
					.item-icon
						svg.icon.icon-caret-left-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16')
							path(d='m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z')

			li.nav-item
				.item-content
					img(src="./images/streamer.webp", alt="")
					.item-desc
						p NT City GTA a Tôn Monki ...
					.item-icon
						svg.icon.icon-caret-left-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16')
							path(d='m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z')

			li.nav-item
				.item-content
					img(src="./images/streamer.webp", alt="")
					.item-desc
						p NT City GTA a Tôn Monki ...
					.item-icon
						svg.icon.icon-caret-left-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16')
							path(d='m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z')

			li.nav-item
				.item-content
					img(src="./images/streamer.webp", alt="")
					.item-desc
						p NT City GTA a Tôn Monki ...
					.item-icon
						svg.icon.icon-caret-left-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16')
							path(d='m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z')

			li.nav-item
				.item-content
					img(src="./images/streamer.webp", alt="")
					.item-desc
						p NT City GTA a Tôn Monki ...
					.item-icon
						svg.icon.icon-caret-left-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16')
							path(d='m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z')

			li.nav-item
				.item-content
					img(src="./images/streamer.webp", alt="")
					.item-desc
						p NT City GTA a Tôn Monki ...
					.item-icon
						svg.icon.icon-caret-left-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16')
							path(d='m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z')

