@use '@/styles/base'as *;

.main-header {
	box-shadow: 0 0.087rem 0.435rem 0 rgb(0, 0, 0, 0.1);
	border-bottom: 0.043rem solid #f8f8f8;

	position: sticky;
	top: 0;
	left: 0;
	z-index: 500;
	background-color: var(--color-white);
}

.main-header-inner {
	height: 3.043rem;

	display: flex;
	align-items: center;

	.header-btn-group {
		margin-left: 0.87rem;
	}

	.header-search {
		display: none;
	}

	.header-btn {
		border-radius: 0.87rem;
		padding: 0.326rem 0.457rem;

		&:not(.header-btn-setting) {
			margin-right: 8px;
		}

		text-decoration: none;

		span {
			font-size: 12px;
		}
	}

	.header-btn-search {
		display: flex;
		align-items: center;

		width: 3.5rem;

		background-color: #f5f5f5;

		.icon {
			--size: 14px;
			fill: #b4b4b4;
		}
	}

	.header-btn-recharge {
		border-style: solid;
		border-width: 0.043rem;
		min-width: 1.87rem;

		img {
			display: none;
		}
	}

	.header-btn-open-app {
		width: 5.217rem;
	}

	.header-logo {
		margin-right: auto;
	}

	.logo-link {
		display: inline-block;

		background: url('../images/logo/logo_light.png') no-repeat 50%/contain;

		height: 1.609rem;
		width: 5.478rem;
	}

	.header-btn-group {
		display: flex;
		align-items: center;
	}

	.header-btn-login,
	.header-btn-signup {
		display: none;
	}

	.setting-mask {
		display: none;

		&.is-active {
			display: block;
		}
	}

	.header-navigation,
	.header-options,
	.header-download,
	.header-country-options {
		display: none;
	}
}

.header-setting {
	.setting-mask {
		top: 0;
		left: 0;
	}
}

.setting-panel {
	border-radius: 0.217rem;
	box-shadow: 0 0.174rem 0.435rem 0 rgb(40, 29, 29, 0.2);
	box-sizing: border-box;
	max-height: 80vh;
	max-height: calc(100vh - 6.608rem - env(safe-area-inset-bottom));
	// overflow: auto;
	padding: 0.435rem 0 0.696rem;
	position: absolute;
	right: 0.435rem;
	right: calc(env(safe-area-inset-right) + var(--component-padding));
	top: 3.478rem;
	transform: scale(0);
	transform-origin: top right;
	animation: growIn 10ms ease-in-out forwards;
	font-size: 14px;
	background-color: var(--color-white);

	&.is-active {
		animation: growOut 300ms ease-in-out forwards;
	}

	.popover-arrow {
		display: none;
	}
}

.panel-list {
	.panel-item {
		min-width: 200px;

		padding: 12px 16px;
		cursor: pointer;

		display: block;
		text-decoration: none;

		color: var(--color-black);

		&.panel-item-more {
			display: flex;
			align-items: center;

			.more {
				margin-left: auto;
				color: #5a5a5a;

				span {
					padding-right: 8px;
					padding-left: 8px;
				}
			}
		}

		.icon {
			--size: 14px;
			margin-bottom: -1px;
		}
	}

	.panel-item-add,
	.panel-item-follow {
		display: none;
	}

	&.is-hidden {
		display: block;
	}
}

.panel-content {

	a {
		text-decoration: none;
		display: block;
	}

	header {
		cursor: pointer;

		&:not(.country-header) {
			padding: 8px 12px;

			.icon {
				fill: var(--color-black);
			}

			span {
				padding-right: 8px;
				padding-left: 8px;

				display: inline-block;
			}
		}
	}

	.panel-content-language {
		max-width: 220px;
	}

	.panel-content-item {
		display: none;

		&.is-active {
			display: block;
		}
	}

	.panel-content-list {
		display: block;
		max-height: 185px;

		a {
			border-top-style: solid;
			border-top-width: 1px;
			border-color: #f0f0f0;
			height: 40px;
			line-height: 41px;
			text-align: center;
			color: var(--color-black);
		}
	}
}

.country-options {
	margin: 8px 12px;
	width: 232px;
	font-size: 14px;

	.country-header {
		margin-bottom: 8px;
		margin-top: 8px;
		color: #5a5a5a;
	}

	.country-icon {
		width: 12px;
		display: inline-block;
		margin-right: 2px;
	}

	.country-item {
		min-width: 80px;
		width: 100px;

		padding: 5px;
		border-radius: 4px;

		display: flex;
		align-items: center;
		justify-content: center;

		&:not(.is-active) {
			border-style: solid;
			border-width: 1px;
			border-color: #dcdcdc;
		}

		&.is-active {
			background-color: var(--color-primary);
			color: var(--color-white);
		}
	}
}

.switch {
	--switch-width: 40px;
	--switch-height: 20px;
	--switch-padding: 3px;

	// animation
	--switch-animation-duration: 0.2s;

	position: relative;
	display: inline-flex;
	flex-shrink: 0;
	align-items: center;
	width: var(--switch-width);
	height: var(--switch-height);
	border-radius: 50em;
	padding: var(--switch-padding) 0;

	.switch-input,
	.switch-label {
		position: absolute;
		left: 0;
		top: 0;
	}

	.switch-input {
		margin: 0;
		padding: 0;
		opacity: 0;
		height: 0;
		width: 0;
		pointer-events: none;

		&:checked+.switch-label {
			background-color: var(--color-primary);
		}

		&:checked+.switch-label+.switch-marker {
			left: calc(100% - var(--switch-height) + var(--switch-padding));
		}

		&:focus+.switch-label,
		&:active+.switch-label {
			box-shadow: 0 0 0 2px alpha(var(--color-contrast-higher), 0.15);
		}

		&:checked:focus+.switch-label,
		&:checked:active+.switch-label {
			box-shadow: 0 0 0 2px alpha(var(--color-primary), 0.2);
		}
	}

	.switch-label {
		width: 100%;
		height: 100%;
		color: transparent;
		user-select: none;
		background-color: var(--color-bg-darker);
		border-radius: inherit;
		z-index: 1;
		transition: var(--switch-animation-duration);
		overflow: hidden;
	}

	.switch-marker {
		position: relative;
		background-color: var(--color-white);
		width: calc(var(--switch-height) - var(--switch-padding) * 2);
		height: calc(var(--switch-height) - var(--switch-padding) * 2);
		border-radius: 50%;
		z-index: 2;
		pointer-events: none;
		box-shadow: var(--shadow-xs);
		left: var(--switch-padding);
		transition: left var(--switch-animation-duration);
		will-change: left;
	}
}

.theme-dark {
	.main-header {
		box-shadow: 0 0.087rem 0.435rem 0 #000;
		background-color: #1e1e1e;
		border-color: #323232;
	}

	.main-header-inner {
		.header-btn-recharge {
			border-color: var(--color-white);
			color: var(--color-white);
		}

		.header-btn-search {
			background-color: #323232;

			.icon {
				fill: hsla(0, 0%, 100%, .4);
			}
		}

		.logo-link {
			background-image: url('../images/logo/logo_dark.png');
		}
	}

	.setting-panel {
		background-color: #1e1e1e;
		border-color: #323232;
	}

	.panel-list {
		.panel-item {
			color: var(--color-white);

			&.panel-item-nore {
				.more {
					color: hsla(0, 0%, 100%, .6);
				}
			}
		}
	}

	.panel-content {
		color: var(--color-white);

		header {
			&:not(.country-header) {
				.icon {
					fill: var(--color-white);
				}
			}
		}

		.panel-content-list {
			a {
				color: var(--color-white);
				border-color: #323232;
			}
		}
	}

	.panel-country {
		.country-header {
			color: hsla(0, 0%, 100%, .6);
		}

		.country-item {
			border-color: #505050;
		}
	}
}

@import './header-tablet.scss';
@import './header-desktop.scss';

@keyframes growIn {
	0% {
		transform: scale(1);
	}

	80% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(0);
	}
}


@keyframes growOut {
	0% {
		transform: scale(0);
	}

	80% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}
