@use '@/styles/base'as *;

@include breakpoint(lg) {
	.main-header-inner {
		height: 60px;

		.header-navigation,
		.header-options,
		.header-download,
		.header-country-options,
		.header-mask {
			display: block;
		}

		.header-btn-recharge {
			display: flex;
		}
	}
}
