@use '@/styles/base'as *;
@use '../standard-btn/standard-btn.scss';
@use './header-base.scss';
@use './header-tablet.scss';
@use './header-desktop.scss';
@use './header-mobile.scss';

@keyframes growIn {
	0% {
		transform: scale(1);
	}

	80% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(0);
	}
}


@keyframes growOut {
	0% {
		transform: scale(0);
	}

	80% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}
