header.main-header
	.container
		.main-header-inner
			.header-logo
				a.logo-link(href="/")
			.header-hamburger
				span
				span
				span
				span
			.header-mask
			.header-navigation
				nav
					ul.flex.items-center
						li.nav-item.is-active
							a.nav-link(href="#", title="title")
								span Home
								svg.nav-icon.icon(fill='currentColor')
									g(fill='none' fill-rule='evenodd')
										path(d='M0 0h24v24H0z')
										path(d='M12 3.332a1 1 0 01.514.143h0L19.94 7.93a.717.717 0 01.255.97h0l-.86 1.293a2 2 0 00-.335 1.11h0V17a2.99 2.99 0 01-.879 2.121A2.99 2.99 0 0116 20h0-8a2.99 2.99 0 01-2.121-.879A2.99 2.99 0 015 17h0v-5.697a2 2 0 00-.336-1.11h0l-.832-1.248a.717.717 0 01.184-.986h0l7.47-4.484A1 1 0 0112 3.332z' stroke='currentColor' fill='currentColor' stroke-width='2')
										path.icon-stroke(d='M8.95 11.49a.75.75 0 011.06-.04c.55.512 1.266.8 2.027.8a2.96 2.96 0 001.967-.745.75.75 0 11.992 1.125 4.46 4.46 0 01-2.959 1.12 4.462 4.462 0 01-3.048-1.2.75.75 0 01-.038-1.06z' fill='none' fill-rule='nonzero')
						li.nav-item
							a.nav-link(href="#", title="title")
								span Live
								svg.nav-icon.icon(fill='currentColor')
									path(d='M15 3a4 4 0 014 4v1l1.684-.561A1 1 0 0122 8.387v7.226a1 1 0 01-1.316.948L19 16v1a4 4 0 01-4 4H6a4 4 0 01-4-4V7a4 4 0 014-4h9zm0 2H6a2 2 0 00-1.995 1.85L4 7v10a2 2 0 001.85 1.995L6 19h9a2 2 0 001.995-1.85L17 17v-1a2 2 0 012.494-1.938l.138.04.368.123V9.774l-.368.123a2 2 0 01-2.627-1.752L17 8V7a2 2 0 00-1.85-1.995L15 5zM9 8.472a1 1 0 01.492.13l4.47 2.528a1 1 0 010 1.74l-4.47 2.528A1 1 0 018 14.528V9.472a1 1 0 011-1z' fill='currentColor' fill-rule='nonzero')
						li.nav-item.has-submenu
							a.nav-link.submenu-trigger(href="#", title="title")
								span Category
								svg.nav-icon.icon(fill='currentColor')
									g(fill='currentColor' fill-rule='evenodd')
										path(d='M14 2a2 2 0 012 2H5a1 1 0 00-1 1v10a1 1 0 001 1h1v2H4a2 2 0 01-2-2V4a2 2 0 012-2h10z')
										path(d='M20 6a2 2 0 012 2v12a2 2 0 01-2 2H10a2 2 0 01-2-2V8a2 2 0 012-2h10zm-1 2h-8a1 1 0 00-1 1v10a1 1 0 001 1h8a1 1 0 001-1V9a1 1 0 00-1-1zm-4 9a1 1 0 010 2h-3a1 1 0 010-2h3zm3-4a1 1 0 010 2h-6a1 1 0 010-2h6zm0-4a1 1 0 010 2h-6a1 1 0 010-2h6z')
								svg.icon.icon-caret-down-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16')
									path(d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z')
							.submenu
								h4.submenu-title Hot category
								.submenu-inner
									ul.grid.gap-xs
										li.col-4
											a(href="#", title="title" style="background-image: url('https://img.nimo.tv/o/banner/F40CB06A2937771F062763E7500C393_fb5b0c9e2de756d3b02bec317fb9f4d3.jpg/w240_l0/img.webp')")
												.mask
													span Ragnarok X: Next Generation 
										li.col-4
											a(href="#", title="title" style="background-image: url('https://img.nimo.tv/o/banner/F40CB06A2937771F062763E7500C393_fb5b0c9e2de756d3b02bec317fb9f4d3.jpg/w240_l0/img.webp')")
												.mask
													span Ragnarok X: Next Generation 
										li.col-4
											a(href="#", title="title" style="background-image: url('https://img.nimo.tv/o/banner/F40CB06A2937771F062763E7500C393_fb5b0c9e2de756d3b02bec317fb9f4d3.jpg/w240_l0/img.webp')")
												.mask
													span Ragnarok X: Next Generation 
										li.col-4
											a(href="#", title="title" style="background-image: url('https://img.nimo.tv/o/banner/F40CB06A2937771F062763E7500C393_fb5b0c9e2de756d3b02bec317fb9f4d3.jpg/w240_l0/img.webp')")
												.mask
													span Ragnarok X: Next Generation 
										li.col-4
											a(href="#", title="title" style="background-image: url('https://img.nimo.tv/o/banner/F40CB06A2937771F062763E7500C393_fb5b0c9e2de756d3b02bec317fb9f4d3.jpg/w240_l0/img.webp')")
												.mask
													span Ragnarok X: Next Generation 
										li.col-4
											a(href="#", title="title" style="background-image: url('https://img.nimo.tv/o/banner/F40CB06A2937771F062763E7500C393_fb5b0c9e2de756d3b02bec317fb9f4d3.jpg/w240_l0/img.webp')")
												.mask
													span Ragnarok X: Next Generation 
									a.view-all-btn(href="#", title="title")
										| View all
										svg.icon.icon-chevron-right(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16')
											path(fill-rule='evenodd' d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z')
								.popover-arrow

						li.nav-item
							a.nav-link(href="#", title="title")
								span Esports
								svg.nav-icon.icon(fill='currentColor')
									path(d='M16 2a2 2 0 012 2l-.001 1H21v4c0 1.047-1.028 2.3-3.083 3.757C17.541 14.425 15.903 15.84 13 17v2a1 1 0 001 1h1a1 1 0 010 2H9a1 1 0 010-2h1a1 1 0 001-1v-2c-2.903-1.161-4.541-2.575-4.917-4.241C4.028 11.299 3 10.047 3 9V5h2.999L6 4a2 2 0 012-2h8zm0 2H8l-.001 1H8v7.021l.004.086c.073.93 1.095 1.933 3.46 2.922l.535.217.258-.103c2.564-1.025 3.664-2.07 3.739-3.036L16 12V4zm3 3h-1v3.152l.18-.164.156-.152c.294-.294.493-.547.603-.745l.055-.1c.005-.007.006-.004.006.009V7zM5.999 7H5v2c0-.013.001-.016.006-.009l.055.1c.11.198.31.451.603.745l.157.152.178.163V7z' fill='currentColor' fill-rule='evenodd')
			.header-search
			.header-btn-group.flex-grow.flex-basis-0.min-width-0.justify-end
				a.header-btn.header-btn-search(href="/search" title="Open search page")
					// https://icons.getbootstrap.com/
					svg.icon.icon-search(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16')
						path(d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z')
				a.header-btn.header-btn-recharge.border-primary.flex.items-center(href="#", title="Recharge button")
					img(src="./images/dimond.png", alt="")
					span.text-truncate Recharge
				.header-options.header-btn.has-submenu
					a.submenu-trigger.flex.flex-grow-0.items-center(href="#", title="title")
						img(src="./images/camera_icon.png", alt="")
						| Go live
					.submenu
						ul
							li
								a(href="#", title="title")
									| PC Streamer
									svg.icon.icon-chevron-right(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16')
										path(fill-rule='evenodd' d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z')
							li
								a(href="#", title="title")
									| Mobile game and Live Show
									svg.icon.icon-chevron-right(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16')
										path(fill-rule='evenodd' d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z')
							li
								a(href="#", title="title")
									| Mobile client
									svg.icon.icon-chevron-right(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16')
										path(fill-rule='evenodd' d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z')
						.popover-arrow
				a(href="#", title="title").header-download.header-btn
					svg.icon.icon-download(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16')
						path(d='M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z')
						path(d='M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z')
				.header-country-options.header-btn
					button.reset.trigger-btn(type="button" aria-label="country flag")
						img(src="./images/VN_flag.webp", alt="")
					.country-options
						header Choose country/region
						.country-content.country-current
							header.country-header My Position
							.country-list.grid.gap-xs
								button.text-truncate.col-6.reset.country-item(type="button" aria-label="Viet Nam") Viet Nam
						.country-content.country-current
							header.country-header Hot Area
							.country-list.grid.gap-xs
								button.text-truncate.col-6.reset.country-item(type="button" aria-label="Viet Nam")
									span.country-icon
										picture
											source(srcset='./images/icon_hot.png' type='image/png')
											img(src='./images/icon_hot.png' alt='icon')
									| Global
								button.text-truncate.col-6.reset.country-item(type="button" aria-label="Viet Nam") Viet Nam
								button.is-active.text-truncate.col-6.reset.country-item(type="button" aria-label="Viet Nam") Indonesia
								button.text-truncate.col-6.reset.country-item(type="button" aria-label="Viet Nam") Thailand
								button.text-truncate.col-6.reset.country-item(type="button" aria-label="Viet Nam") Turkey
								button.text-truncate.col-6.reset.country-item(type="button" aria-label="Viet Nam") More
						.popover-arrow

				//- a.header-btn.header-btn-open-app.bg-primary.color-white.flex.items-center.justify-center(href="#", title="Open App button")
				//- 	span Open App
				a.header-btn.header-btn-login.bg-primary.color-white.flex.items-center.justify-center(href="#", title="Login button")
					span Đăng nhập
				a.header-btn.header-btn-signup.bg-primary.color-white.flex.items-center.justify-center(href="#", title="Sign Up button")
					span Đăng ký
				.header-setting
					div(class="setting-mask position-fixed height-100% width-100%")
					button.reset.header-btn.header-btn-setting.color-primary(href="#", aria-label="setting")
						svg.icon.icon-three-dots(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16')
							path(d='M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z')
					.setting-panel
						.panel-list
							button.reset.panel-item.panel-item-more(data-panel="language" type="button" aria-label="Language")
								span Language
								.more.flex.items-center
									span English
									svg.icon.icon-chevron-right(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16')
										path(fill-rule='evenodd' d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z')
							button.reset.panel-item.panel-item-country.panel-item-more(data-panel="country" type="button" aria-label="country/region")
								span country/region
								.more.flex.items-center
									span
										picture
											source(srcset='./images/VN_flag.webp' type='image/webp')
											img(src='./images/VN_flag.webp' alt='VN')
									svg.icon.icon-chevron-right(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16')
										path(fill-rule='evenodd' d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z')
							.panel-item.panel-item-more
								span Dark mode
								.more
									.switch
										input#switch-checkbox.switch-input(type='checkbox')
										label.switch-label(for='switch-checkbox' aria-hidden='true') Option label
										.switch-marker(aria-hidden='true')
							a(href="#", title="login").panel-item.panel-item-add
								span Add to desktop
							button.reset.panel-item.panel-item-follow(data-panel="follow" type="button" aria-label="Follow")
								span My Following
							a(href="#", title="login").panel-item.panel-item-login
								span Login
							a(href="#", title="Sign Up").panel-item.panel-item-signup
								span Sign Up
							a(href="#", title="Privacy Policy").panel-item.panel-item-policy
								span Privacy Policy
							a(href="#", title="Cookie Policy").panel-item.panel-item-cookie
								span Cookie Policy
							a(href="#", title="Open Platform").panel-item.panel-item-open
								span Open Platform
						.panel-content
							.panel-content-item.panel-content-language(data-panel="language")
								header.panel-trigger.flex.items-center
									svg.icon.icon-chevron-left(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16')
										path(fill-rule='evenodd' d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z')
									span Only change the language of website
								.panel-content-list.overflow-auto
									a(href="#", title="language 中文 繁體") 中文 繁體 
									a(href="#", title="language English") English
									a(href="#", title="language Bahasa Indonesia") Bahasa Indonesia
									a(href="#", title="language Pilipinas") Pilipinas
									a(href="#", title="language Việt Nam") Việt Nam
									a(href="#", title="language ภาษาไทย") ภาษาไทย
									a(href="#", title="language Malaysia") Malaysia
									a(href="#", title="language Português") Português
									a(href="#", title="language Español") Español
									a(href="#", title="language हिन्दी") हिन्दी
									a(href="#", title="language Türkçe") Türkçe
									a(href="#", title="language العربية") العربية
									a(href="#", title="language Русский") Русский
									a(href="#", title="language 日本語") 日本語
							.panel-content-item(data-panel="country")
								header.panel-trigger.flex.items-center
									svg.icon.icon-chevron-left(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16')
										path(fill-rule='evenodd' d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z')
									span Please select a country/region
								.panel-country.country-options
									.country-content.country-current
										header.country-header My Position
										.country-list.grid.gap-xs
											button.text-truncate.col-6.reset.country-item(type="button" aria-label="Viet Nam") Viet Nam
									.country-content.country-current
										header.country-header Hot Area
										.country-list.grid.gap-xs
											button.text-truncate.col-6.reset.country-item(type="button" aria-label="Viet Nam")
												span.country-icon
													picture
														source(srcset='./images/icon_hot.png' type='image/png')
														img(src='./images/icon_hot.png' alt='icon')
												| Global
											button.text-truncate.col-6.reset.country-item(type="button" aria-label="Viet Nam") Viet Nam
											button.is-active.text-truncate.col-6.reset.country-item(type="button" aria-label="Viet Nam") Indonesia
											button.text-truncate.col-6.reset.country-item(type="button" aria-label="Viet Nam") Thailand
											button.text-truncate.col-6.reset.country-item(type="button" aria-label="Viet Nam") Turkey
											button.text-truncate.col-6.reset.country-item(type="button" aria-label="Viet Nam") More
						.popover-arrow




