@use '@/styles/base'as *;

@include breakpoint(lg) {
	.main-header-inner {
		height: 60px;

		.header-navigation,
		.header-options,
		.header-download,
		.header-country-options {
			display: block;
		}

		.submenu {
			opacity: 0;
			visibility: hidden;
			transition: opacity 0.3s ease-in-out,
				visibility 0.3s ease-in-out;

			&[data-show] {
				opacity: 1;
				visibility: visible;
			}
		}

		.header-navigation {
			padding-left: 55px;
			padding-right: 55px;

			a {
				text-decoration: none;
			}

			.nav-item {
				margin-left: 15px;
				margin-right: 15px;
				height: 40px;

				&.has-submenu {
					position: relative;

					.nav-link {
						display: flex;
						align-items: center;
					}

					.icon {
						--size: 12px;
						margin-left: 10px;
					}

					&::after {
						content: '';

						width: 100%;
						height: 10px;

						position: absolute;
						top: 100%;
						left: 0;
						background-color: transparent;
					}
				}

				&.is-active {
					.nav-link {
						position: relative;

						&::after {
							content: '';
							position: absolute;
							bottom: 0;
							left: 0;
							width: 100%;
							height: 2px;
							background-color: var(--color-primary);
						}
					}
				}

				&:hover,
				&.is-active {
					.nav-link {
						color: var(--color-primary);

						.icon {
							fill: var(--color-primary);
						}
					}
				}
			}

			.nav-link {
				line-height: 40px;

				display: inline-block;

				font-size: 14px;
				color: #5a5a5a;
				transition: color 0.5s ease-in-out;
			}

			.submenu {
				border-radius: 4px;
				background-color: var(--color-white);
				box-shadow: 0 5px 30px rgb(0, 0, 0, 0.1);
				width: 420px;
				padding-top: 10px;
			}

			.submenu-title {
				font-size: 14px;
				font-weight: 500;
				padding: 5px 20px 4px;
				min-height: 32px;
				color: #1e1e1e;
				display: flex;
				align-items: center;
			}

			.submenu-inner {
				padding: 0 20px 20px;

				a {
					&:not(.view-all-btn) {
						background: top no-repeat;
						background-position: top;
						background-size: cover;
						border-radius: 6px;
						box-sizing: border-box;
						cursor: pointer;
						height: 80px;
						text-align: center;
						display: block;
					}
				}

			}

			span {
				background: linear-gradient(270deg, transparent, #000);
				border-radius: 0 0 6px 6px;
				display: inline-block;
				overflow: hidden;
				padding: 0 5px;
				text-align: left;
				text-overflow: ellipsis;
				white-space: nowrap;
				width: 100%;
				color: var(--color-white);
				font-size: 14px;
			}

			.mask {
				height: 100%;
				display: flex;
				align-items: flex-end;
			}

			.view-all-btn {
				margin-top: 10px;
				font-size: 12px;
				color: #5a5a5a;
				background-color: #f0f0f0;
				display: flex;
				align-items: center;
				justify-content: center;
				height: 24px;
				line-height: 24px;
			}
		}

		.popover-arrow {
			border-bottom-style: solid;
			border-bottom-width: 8px;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-top: 0 solid transparent;
			box-shadow: none;
			height: 0;
			left: 50%;
			position: absolute;
			top: -8px;
			transform: translateX(-50%);
			width: 0;
			border-color: transparent transparent #fff;

			&::after {
				border-color: transparent transparent #fff;
				bottom: -12px;
				content: "";
				left: -10px;
				position: absolute;

				height: 0;
				width: 0;
				border-width: 0 8px 10px 10px;
			}
		}

		.setting-panel {
			.popover-arrow {
				display: block;
				left: auto;
				transform: none;
				right: 18px;
			}
		}

		.header-btn-group {
			.header-btn {
				margin-left: 12px;
				margin-right: 12px;
			}
		}

		.header-options {
			a {
				text-decoration: none;
				font-size: 14px;
			}

			.submenu-trigger {
				color: #5a5a5a;
				font-size: 1rem;

				img {
					height: 24.5px;
					width: 34px;
				}
			}

			.submenu {
				background-color: var(--color-white);
				box-shadow: 0 5px 30px rgb(0, 0, 0, 0.1);
				width: 200px;

				ul {
					padding-top: 10px;
					padding-bottom: 10px;
				}

				li {
					height: 40px;
					margin-bottom: 5px;
				}

				a {
					height: 100%;
					display: flex;
					align-items: center;
					justify-content: space-between;
					padding-left: 20px;
					padding-right: 20px;
					color: #000;

					&:hover {
						color: var(--color-primary);
					}
				}
			}
		}

		.header-country-options {
			.trigger-btn {
				cursor: pointer;
			}

			.country-options {
				background-color: var(--color-white);
				box-shadow: 0 5px 30px rgb(0, 0, 0, 0.1);
				padding: 15px 20px;
				border-radius: 4px;
				opacity: 0;
				visibility: hidden;
				transition: opacity 0.3s ease-in-out,
					visibility 0.3s ease-in-out;

				&[show-popper] {
					opacity: 1;
					visibility: visible;
				}
			}

			.popover-arrow {
				left: auto;
				transform: none;
				right: 10px;
			}
		}

		.header-download {
			color: #5a5a5a;
		}

		.header-country-options {
			padding: 0;

			img {
				display: block;
			}
		}

		.header-btn-login {
			order: 3;
		}

		.header-btn-signup {
			order: 2;
		}

		.header-btn-login,
		.header-btn-signup {
			background-color: transparent;
			border: 1px solid var(--color-primary);
			color: var(--color-primary);
			border-radius: 4px;
			display: flex;
			align-items: center;
			padding: 10px 14px;
			transition: all 0.3s ease-in-out;

			&:hover {
				background-color: var(--color-primary);
				color: var(--color-white);
			}
		}

		.header-setting {
			position: relative;

			.setting-panel {
				top: 40px;
				right: 0;
			}

			.panel-list {
				padding-right: 10px;
				padding-left: 10px;
			}

			.panel-item {
				padding: 10px;
				border-radius: 4px;
				transition: all 0.3s ease-in-out;
				margin-bottom: 5px;

				&:hover {
					background-color: var(--color-primary);
					color: var(--color-white);

					.more {
						span {
							color: rgba(255, 255, 255, 0.6);
						}
					}

					.switch {
						.switch-label {
							background-color: rgba(0, 0, 0, .5);
						}

						.switch-input:checked {
							+.switch-label {
								background-color: #957acc;
							}
						}
					}
				}
			}

			.panel-item-add,
			.panel-item-follow {
				display: block;
			}

			.panel-content-language {
				width: 220px;
			}

			.panel-item-country,
			.panel-item-login,
			.panel-item-signup,
			.panel-item-policy,
			.panel-item-cookie,
			.panel-item-open,
			.more .icon {
				display: none;
			}
		}

		.header-btn-open-app,
		.header-btn-search {
			display: none;
		}

		.header-btn-recharge {
			img {
				display: block;
				width: 22px;
				height: 22px;
			}
		}
	}
}
