extends ../../_layouts/_layout

block var
	- title = 'Album'
	- bodyClass = 'album'


block main
	section.streamer-album
		.container
			include @/components/streamer-gallery/streamer-gallery
block footer
	include @/components/footer/footer
