section.pro-team.streamer-group.index-section
	.container
		.game-heading.has-slide
			.game-heading-inner.has-tags
				h2
					span Pro Team
			.slide-controls
				button(type="button").swiper-button-prev
					svg.icon-chevron-left(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16')
						path(fill-rule='evenodd' d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z')

				button(type="button").swiper-button-next
					svg.icon-chevron-right(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16')
						path(fill-rule='evenodd' d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z')
		.swiper.pro-team-slides
			.swiper-wrapper
				.swiper-slide
					a(href="#", title="title").team-item
						.team-description
							p Dark Passage Free Fire Takımı
						.team-cover
							.team-cover-inner
								img(src="./images/logo_team.png", alt="")
						.team-banner
							.team-banner-skew
								.banner
									.logo
										img(src="./images/logo_team.png", alt="")
									.team-name.text-truncate Dark Passage
									.team-arrow
										svg.icon.icon-chevron-right(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16')
											path(fill-rule='evenodd' d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z')
				.swiper-slide
					a(href="#", title="title").team-item
						.team-description
							p Dark Passage Free Fire Takımı
						.team-cover
							.team-cover-inner
								img(src="./images/logo_team.png", alt="")
						.team-banner
							.team-banner-skew
								.banner
									.logo
										img(src="./images/logo_team.png", alt="")
									.team-name.text-truncate Dark Passage
									.team-arrow
										svg.icon.icon-chevron-right(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16')
											path(fill-rule='evenodd' d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z')
				.swiper-slide
					a(href="#", title="title").team-item
						.team-description
							p Dark Passage Free Fire Takımı
						.team-cover
							.team-cover-inner
								img(src="./images/logo_team.png", alt="")
						.team-banner
							.team-banner-skew
								.banner
									.logo
										img(src="./images/logo_team.png", alt="")
									.team-name.text-truncate Dark Passage
									.team-arrow
										svg.icon.icon-chevron-right(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16')
											path(fill-rule='evenodd' d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z')
				.swiper-slide
					a(href="#", title="title").team-item
						.team-description
							p Dark Passage Free Fire Takımı
						.team-cover
							.team-cover-inner
								img(src="./images/logo_team.png", alt="")
						.team-banner
							.team-banner-skew
								.banner
									.logo
										img(src="./images/logo_team.png", alt="")
									.team-name.text-truncate Dark Passage
									.team-arrow
										svg.icon.icon-chevron-right(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16')
											path(fill-rule='evenodd' d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z')
				.swiper-slide
					a(href="#", title="title").team-item
						.team-description
							p Dark Passage Free Fire Takımı
						.team-cover
							.team-cover-inner
								img(src="./images/logo_team.png", alt="")
						.team-banner
							.team-banner-skew
								.banner
									.logo
										img(src="./images/logo_team.png", alt="")
									.team-name.text-truncate Dark Passage
									.team-arrow
										svg.icon.icon-chevron-right(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16')
											path(fill-rule='evenodd' d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z')
