.game-card {
	text-decoration: none;
	box-shadow: 0 10px 20px transparent;
	padding: 6px;
	display: block;
	border-radius: 4px;
	text-align: center;
	transition: all 0.3s ease-in-out;

	.game-card-img {
		margin: 0;
		img {
			border-radius: 4px;
			width: 100%;
		}

		h3 {
			font-weight: 400;
			font-size: 16px;
			margin-bottom: 10px;
			margin-top: 10px;
			transition: color 0.3s ease-in-out;
		}
	}

	&:hover {
		background-color: var(--color-primary);
		box-shadow: 0 10px 20px rgb(98, 45, 247, 0.5);
		h3 {
			color: var(--color-white);
		}
	}
}
