extends ../../_layouts/_layout

block var
	- title = 'Lives Events'
	- bodyClass = 'live events'

block main
	section.flex
		include @/components/sidebar/sidebar.pug
		.game-content.game-chanel-content
			.game-area-head.has-entry
				section.game-banner
					.game-banner-container
						.game-banner-image
							img(src="./images/live_events_banner.png", alt="")
						.game-banner-mask
						.game-banner-desc
							.game-banner-desc-inner
								h1.game-banner-title Blade & Soul
								p Mini World is a sandbox game where players explore and create beautiful and fun 3D worlds together. Over hundreds of blocks and game elements are available to choose from. With no levels, players can enjoy all features the game has to offer.
								span.game-banner-live-count
									svg.icon.icon-cast(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16')
										path(d='m7.646 9.354-3.792 3.792a.5.5 0 0 0 .353.854h7.586a.5.5 0 0 0 .354-.854L8.354 9.354a.5.5 0 0 0-.708 0z')
										path(d='M11.414 11H14.5a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.5-.5h-13a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .5.5h3.086l-1 1H1.5A1.5 1.5 0 0 1 0 10.5v-7A1.5 1.5 0 0 1 1.5 2h13A1.5 1.5 0 0 1 16 3.5v7a1.5 1.5 0 0 1-1.5 1.5h-2.086l-1-1z')
									| 11 live
								a.sport-navigate(href="")
									| Esports Events
									svg.icon.icon-chevron-right(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16')
										path(fill-rule='evenodd' d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z')
			.game-content-container
				.game-chanel-list-wrapper
					a.back-btn(href="#", title="title")
						svg.icon.icon-arrow-left(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16')
							path(fill-rule='evenodd' d='M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z')
						| Return
					//- include @/components/no-data/no-data.pug
					.game-chanel-list
						a(href="#", title="title").game-chanel-item
							.game-chanel-img-wrapper
								.game-chanel-img
									img(src="./images/gam_chenel_cover.webp", alt="")
								.game-chanel-img-mask
								.game-chanel-img-cover(style="background-image: url('../images/gam_chenel_cover.webp')")
								span.game-chanel-label.video Video
								span.game-chanel-duration 01:33
							.game-chanel-item-content
								h3 TOP10 CÔNG TRÌNH NỔI TIẾNG VIỆT NAM TẠI MINI WORLD
								footer.game-chanel-item-footer
									span.footer-item
										svg.icon.icon-clock(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16')
											path(d='M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z')
											path(d='M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z')
										time 4 Sep 2020
									span.footer-item
										svg.icon.icon-play(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16')
											path(d='M10.804 8 5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z')
										| 96.5k

						a(href="#", title="title").game-chanel-item
							.game-chanel-img-wrapper
								.game-chanel-img
									img(src="./images/gam_chenel_cover.webp", alt="")
								.game-chanel-img-mask
								.game-chanel-img-cover(style="background-image: url('../images/gam_chenel_cover.webp')")
								span.game-chanel-label.video Video
								span.game-chanel-duration 01:33
							.game-chanel-item-content
								h3 TOP10 CÔNG TRÌNH NỔI TIẾNG VIỆT NAM TẠI MINI WORLD
								footer.game-chanel-item-footer
									span.footer-item
										svg.icon.icon-clock(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16')
											path(d='M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z')
											path(d='M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z')
										time 4 Sep 2020
									span.footer-item
										svg.icon.icon-play(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16')
											path(d='M10.804 8 5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z')
										| 96.5k



